html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    h1= "The users is"
      h2=message.id
      h2=message.username
      h2=message.age
    // script(type="commonjs" src='./scripts/client.js')
  